

 <h1>Table :v</h1>
<table class="tablestyle">
 <tr>

  <th>Name</th>
  <th>Lvl</th>
  <th>Characteristic</th>                     
  <th>Exp</th>
  
 </tr>

 <tr>
    <td><%=@all_character.name%></td>
    <td><%=@all_character.lvl%></td>
    <td><%=@all_character.characteristic%></td>
    <td><%=@all_character.exp%></td>
 </tr>

 </table>
