<h1>Table :v</h1>
<table class="tablestyle">
  <tr>
    <th>Name</th>
    <th>Lvl</th>
    <th>Characteristic</th>                     
    <th>Exp</th>
  </tr>

 
  <% @all_character.each do |item| %>
    <tr> 
      <td><%=item.name%></td> 
      <td><%=item.lvl%></td> 
      <td><%=item.characteristic%></td> 
      <td><%=item.exp%></td>
   </tr> 
  <% end %> 
</table>
