<h1>Nuevo!</h1>

<form action="/characters" method="post" data-turbo="false">
  <label >Name</label>
  <input placeholder="Sram" type="text" name="name" id="fname">
  <label>Lvl</label>
  <input placeholder = "3" type="text" name="lvl" id="flvl" >
  <label>Characteristic </label>
  <input placeholder="wisdom" type="text" name="characteristic" id="fCharacteristic" >
  <label>Exp </label>
  <input placeholder="250" type="text" name="exp" id="fexp" >
  <input type="submit" value="Submit">
</form>
